.app-bar{
    background: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.07);

    .app-bar__nav{
        display: flex;
        justify-content: center;
    }

    .app-bar__nav > * + *{
        margin-left: 8px;
    }

    .app-bar__btn{
        padding: 8px 18px;
        color: white;
        background: #FE0094;
        border-radius: 5px;
        font-weight: bold;
    }
    .app-bar__logo{
        display: flex;
        align-items: center;
    }
}